
@media only screen and (min-width:500px) {
#container{
        width: 1200px;
        border: 1px solid whitesmoke;
        margin-top: 70px;
        padding-left:50px;
        margin-left: 80px;
        background-color:aliceblue;
        height:507px;
        box-shadow: 3rem;
}
#F1{
    font-weight: 900px;
}
#p2{
    font-weight: 2px;
    color: cadetblue;
}
#p1{
    line-height: 0px;
    font-weight: 2px;
    color: cadetblue;
}
label{
    font-family : Cursive ;
}
#email{
    border-radius: 6px;
    width: 600px;
    height: 40px;
    border: 0rem solid black;
    padding-left: 20px; 
}
#email:hover {
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
}
#b1{
    background-color: yellow;
    width: 500px ;
    height: 45px;
    margin-left: 50px;
    font-weight: 400px;
    border: 1px solid yellow;
    border-radius: 6px;
}
#b1:hover{
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
}
#FImage{
    height: 507px;
    width: 400px;
    margin-left: 150px;
}
#Forget_flex{
    display: flex;
}
#FP1{
    padding-top: 50px;
}
}
@media only screen and (min-width:300px) {
    
}