#container1{
    width: 60%;
    border: 1px solid whitesmoke;
    margin-top: 70px;
    padding-left: 50px;
    margin-left: 150px;
    background-color: aliceblue;
    box-shadow: 3rem;
}
#S1{
    padding-top: 50px;
    font-weight: 900;
    font-size:3rem;
}
#S2{
    font-weight: 2;
    color:slategray;
}
#S3{
    display: inline;
    padding-left: 2px;
}
#d1{
    display: flex;
}
#signUp_block{
    padding-left: 100px;
}
.inpt_SignUp{
    border-radius: 6px;
    width: 100%;
    height: 6%;
    border: 0.1rem black;
    padding-left: 20px;
}
.inpt_SignUp:hover{
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
}
#btn1{
    background-color: yellow;
        width: 400px;
        height: 45px;
        margin-left: 20px;
        font-weight: 400px;
        border: 1px solid yellow;
        border-radius: 6px;
}
#btn1:hover {
        box-shadow: 0 0 5pt 0.5pt #D3D3D3;
}
#img1{
    height: 700px;
    width:100%;
    margin-left: 150px;
}
.Error_SignUp{
    color: red;
}