#Pass{
    width: 1200px;
    border: 1px solid whitesmoke;
    padding-left: 50px;
    margin-left: 50px;
    background-color:darkgray;
    box-shadow: 3rem;
    padding-top: 20px;
}
#Pass_head{
    background-color: burlywood;
    margin-top: 30px;
    margin-left: 50px;
    width: 1200px;
    padding-top: 10px;
    padding-left: 20px;
}
.Pass_inpt{
        border-radius: 6px;
        width: 450px;
        height: 36px;
        border: 0.1rem black;
        padding-left: 20px;
}
#Pass_btn{
    background-color: yellow;
    border-radius: 4px;
    border-color: yellow;
    width: 200px;
    height:40px
}
.error_Update_Passworder{
    color:red;
}